**Importing the necessary libraries**

In [61]:
import psycopg2 
import pandas as pd 
import pandas.io.sql as psql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

**Connecting to the postgreSQL server and obtaining a DB cursor to perform database operations**

In [62]:
try:
    con = psycopg2.connect(user = "postgres",
                                  password = "QEW01lA67",
                                  host = "localhost",
                                  port = "5432")
    
    con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
    print("Connected Successfully to PostgreSQL server!!")
    
    cursor = con.cursor();
except (Exception, psycopg2.Error) as error :
     print ("Error while connecting to PostgreSQL", error)

Connected Successfully to PostgreSQL server!!

**Creating the Database and executing the command in SQL**

In [63]:
name_Database   = "HumanFreedomIndex";

sqlCreateDatabase = "CREATE DATABASE "+name_Database+";"

try:
    # Execute a SQL command: this creates a new DB
    cursor.execute(sqlCreateDatabase);
    print("Database '"+name_Database+"' Created Successfully!")
except (Exception, psycopg2.Error) as error :
    print("Error While Creating the DB: ",error)
    
finally:
    cursor.close() #to close the cursor
    con.close()

Error While Creating the DB:  database "humanfreedomindex" already exists

**Getting new connection but this time pointing it to the created "humanfreedomindex" DB**

In [75]:
con = psycopg2.connect(user = "postgres",
                       password = "QEW01lA67",
                       host = "localhost",
                       port = "5432",
                       database = "humanfreedomindex")

try:
    cursor = con.cursor();
    print("connected again to the server and cusor now on HumanFreedomIndex DB !!")
except (Exception, psycopg2.Error) as error:
    print("Error in Connection",error)

connected again to the server and cusor now on HumanFreedomIndex DB !!

**Creating the hfi_data table to import all the raw data into **

In [65]:

try:
    
    dataTable="hfi_data"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	N VARCHAR(40),
  	year	VARCHAR(40),
	ISO_code VARCHAR(40),
	countries VARCHAR(40),
	region	VARCHAR(40),
	hf_score FLOAT(20),
	hf_rank	FLOAT (20),
	hf_quartile	FLOAT(20),
	pf_rol_procedural FLOAT(20), 
	pf_rol_civil FLOAT(20),
	pf_rol_criminal FLOAT(20),
	pf_rol FLOAT(20),
	pf_ss_homicide FLOAT(20),
	pf_ss_disappearances_disap FLOAT(20), 
	pf_ss_disappearances_violent FLOAT(20), 
	pf_ss_disappearances_organized FLOAT(20), 
	pf_ss_disappearances_fatalities FLOAT(20), 
	pf_ss_disappearances_injuries FLOAT(20), 
	pf_ss_disappearances FLOAT(20), 
	pf_ss_women_fgm FLOAT(20), 
	pf_ss_women_inheritance FLOAT(20), 
	pf_ss_women FLOAT(20), 
	pf_ss FLOAT(20), 
	pf_movement_domestic FLOAT(20), 
	pf_movement_foreign FLOAT(20), 
	pf_movement_women FLOAT(20), 
	pf_movement FLOAT(20), 
	pf_religion_freedom FLOAT(20), 
	pf_religion_repression FLOAT(20), 
	pf_religion_harassment FLOAT(20), 
	pf_religion_restrictions FLOAT(20), 
	pf_religion FLOAT(20), 
	pf_association_entry FLOAT(20), 
	pf_association_assembly FLOAT(20), 
	pf_association_barries FLOAT(20), 
	pf_association_bans FLOAT(20), 
	pf_association_estopparties FLOAT(20), 
	pf_association_opposition FLOAT(20), 
	pf_association_civilrepression FLOAT(20), 
	pf_association FLOAT(20), 
	pf_expression_killed FLOAT(20), 
	pf_expression_jailed FLOAT(20), 
	pf_expression_media FLOAT(20), 
	pf_expression_cable FLOAT(20), 
	pf_expression_newspapers FLOAT(20), 
	pf_expression_control FLOAT(20), 
	pf_expression FLOAT(20), 
	pf_identity_legal FLOAT(20), 
	pf_identity_sex_male FLOAT(20), 
	pf_identity_sex_female FLOAT(20), 
	pf_identity_sex FLOAT(20), 
	pf_identity_divorce FLOAT(20), 
	pf_identity FLOAT(20), 
	pf_score FLOAT(20), 
	pf_rank FLOAT(20), 
	ef_government_consumption FLOAT(20), 
	ef_government_transfers FLOAT(20), 
	ef_government_enterprises FLOAT(20), 
	ef_government_tax_income FLOAT(20), 
	ef_government_tax_payroll FLOAT(20), 
	ef_government_tax FLOAT(20), 
	ef_government_soa FLOAT(20), 
	ef_government FLOAT(20), 
	ef_legal_judicial FLOAT(20), 
	ef_legal_courts FLOAT(20), 
	ef_legal_protection FLOAT(20), 
	ef_legal_military FLOAT(20), 
	ef_legal_integrity FLOAT(20), 
	ef_legal_enforcement FLOAT(20), 
	ef_legal_regulatory FLOAT(20), 
	ef_legal_police FLOAT(20), 
	ef_legal_gender FLOAT(20), 
	ef_legal FLOAT(20), 
	ef_money_growth FLOAT(20), 
	ef_money_sd FLOAT(20), 
	ef_money_inflation FLOAT(20), 
	ef_money_currency FLOAT(20), 
	ef_money FLOAT(20), 
	ef_trade_tariffs_revenue FLOAT(20), 
	ef_trade_tariffs_mean FLOAT(20), 
	ef_trade_tariffs_sd FLOAT(20), 
	ef_trade_tariffs FLOAT(20), 
	ef_trade_regulatory_nontariff FLOAT(20), 
	ef_trade_regulatory_compliance FLOAT(20), 
	ef_trade_regulatory FLOAT(20), 
	ef_trade_black FLOAT(20), 
	ef_trade_movement_foreign FLOAT(20), 
	ef_trade_movement_capital FLOAT(20), 
	ef_trade_movement_visit FLOAT(20), 
	ef_trade_movement FLOAT(20), 
	ef_trade FLOAT(20), 
	ef_regulation_credit_ownership FLOAT(20), 
	ef_regulation_credit_private FLOAT(20), 
	ef_regulation_credit_interest FLOAT(20), 
	ef_regulation_credit FLOAT(20), 
	ef_regulation_labor_minwage FLOAT(20), 
	ef_regulation_labor_firing FLOAT(20), 
	ef_regulation_labor_bargain FLOAT(20), 
	ef_regulation_labor_hours FLOAT(20), 
	ef_regulation_labor_dismissal FLOAT(20), 
	ef_regulation_labor_conscription FLOAT(20), 
	ef_regulation_labor FLOAT(20), 
	ef_regulation_business_adm FLOAT(20), 
	ef_regulation_business_bureaucracy FLOAT(20), 
	ef_regulation_business_start FLOAT(20), 
	ef_regulation_business_bribes FLOAT(20), 
	ef_regulation_business_licensing FLOAT(20), 
	ef_regulation_business_compliance FLOAT(20), 
	ef_regulation_business FLOAT(20), 
	ef_regulation FLOAT(20), 
	ef_score FLOAT(20), 
	ef_rank FLOAT(20), 
	womens_freedom FLOAT(20),
  PRIMARY KEY (N)
); '''
    
    
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (hfi_data) created successfully in PostgreSQL

**Separately executing code for creating all the necessary tables**

In [87]:
#Creating the country table
try:
    
    dataTable="country"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	ISO VARCHAR(40),
	name VARCHAR(40)
); '''

    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (country) created successfully in PostgreSQL

In [78]:
#Creating the expression table

try:    
    dataTable="expression"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	name VARCHAR(40),
	year VARCHAR(40),
	pf_expression_killed FLOAT(20), 
	pf_expression_jailed FLOAT(20), 
	pf_expression_media FLOAT(20), 
	pf_expression_cable FLOAT(20), 
	pf_expression_newspapers FLOAT(20), 
	pf_expression_control FLOAT(20), 
	pf_expression FLOAT(20),
	primary key(name, year)
);'''

 
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (expression) created successfully in PostgreSQL

In [79]:
#Creating the religion table

try:    
    dataTable="religion"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	name VARCHAR(40),
	year VARCHAR(40),
	pf_religion_freedom FLOAT(20), 
	pf_religion_repression FLOAT(20), 
	pf_religion_harassment FLOAT(20), 
	pf_religion_restrictions FLOAT(20), 
	pf_religion FLOAT(20), 
	foreign key(name, year) references expression
);'''

 
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (religion) created successfully in PostgreSQL

In [80]:
#Creating the economy table

try:    
    dataTable="economy"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	name VARCHAR(40),
	year VARCHAR(40),
	ef_government FLOAT(20),
	ef_legal FLOAT(20),
	ef_money FLOAT(20),
	ef_regulation FLOAT(20),
	ef_trade FLOAT(20),
	ef_score FLOAT(20), 
	foreign key(name, year) references expression
);'''

 
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (economy) created successfully in PostgreSQL

In [81]:
#Creating the summary table

try:    
    dataTable="summary"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	name VARCHAR(40),
	year VARCHAR(40),
	pf_score FLOAT(20),
	pf_rank FLOAT(20), 
	hf_score FLOAT(20),
	hf_rank FLOAT(20),
	ef_score FLOAT(20),
	ef_rank FLOAT(20),
	foreign key(name, year) references expression
);'''

 
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (summary) created successfully in PostgreSQL

In [100]:
#Creating the region table

try:    
    dataTable="region"
    create_dataTablee_query = '''CREATE TABLE '''+ dataTable+''' 
              (
	country_name VARCHAR(40),
	region_name VARCHAR(40)
);'''

 
    cursor.execute(create_dataTablee_query)
    
    con.commit()
    print("Table ("+ dataTable +") created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Table (region) created successfully in PostgreSQL

**Inserting all the data from hfi_data table to corresponding tables**

In [88]:
#inserting the data from hfi_data to country table

try:
    dataTable="country"
    insert_data_query='''INSERT INTO country 
              (
	select distinct iso_code, countries
	from hfi_data
);'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (country) inserted successfully in PostgreSQL

In [90]:
#inserting the data from hfi_data to expression table

try:
    dataTable="expression"
    insert_data_query='''insert into expression
        
	select countries, year, pf_expression_killed, 
	pf_expression_jailed, 
	pf_expression_media, 
	pf_expression_cable, 
	pf_expression_newspapers, 
	pf_expression_control, 
	pf_expression
	from hfi_data
;'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (expression) inserted successfully in PostgreSQL

In [91]:
#inserting the data from hfi_data to religion table

try:
    dataTable="religion"
    insert_data_query='''insert into religion
        
	select countries, year, pf_religion_freedom, 
	pf_religion_repression, 
	pf_religion_harassment, 
	pf_religion_restrictions, 
	pf_religion
	from hfi_data
;'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (religion) inserted successfully in PostgreSQL

In [92]:
#inserting the data from hfi_data to economy table

try:
    dataTable="economy"
    insert_data_query='''insert into economy
        
	select countries, year, 
	ef_government,
	ef_legal,
	ef_money,
	ef_regulation,
	ef_trade,
	ef_score
	from hfi_data
;'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (economy) inserted successfully in PostgreSQL

In [93]:
#inserting the data from hfi_data to summary table

try:
    dataTable="summary"
    insert_data_query='''insert into summary
        
	select countries, year,
	pf_score,
	pf_rank, 
	hf_score, 
	hf_rank, 
	ef_score, 
	ef_rank
	from hfi_data
;'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (summary) inserted successfully in PostgreSQL

In [101]:
#inserting the data from hfi_data to region table

try:
    dataTable="region"
    insert_data_query='''insert into region
        
	select distinct countries, region
	from hfi_data
;'''

    cursor.execute(insert_data_query)
    
    con.commit()
    print("Data ("+ dataTable +") inserted successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    con.rollback()
    print("Error While Creating the DB: ",error)

Data (region) inserted successfully in PostgreSQL

**Since we already created the tables and imported the data to corresponding tables, here we are out queries to 
respond the quesions we asked earlier. **

In [97]:
#1 Query "Which are the 5 countries with the lowest and highest score regarding religion in 2018?"
religion_score= psql.read_sql("SELECT name, pf_religion FROM religion WHERE pf_religion IS NOT NULL AND year ='2018' ORDER BY pf_religion ASC LIMIT 5", con)
display(religion_score.style.hide_index())

In [102]:
#2 Query "Rank the regions according to the average freedom index"

avg_freedom_index= psql.read_sql("SELECT AVG(summary.hf_score) AS hf_score, region.region_name FROM region INNER JOIN summary ON region.country_name = summary.name GROUP BY region_name ORDER BY hf_score DESC", con)
display(avg_freedom_index.style.hide_index())

In [107]:
#3 List the countries that have a higher score on freedom of expression than economic freedom in 2017

ef_pf= psql.read_sql("select economy.name, economy.year, pf_expression, ef_score from expression natural join economy where ef_score>pf_expression and economy.year='2017'", con)
display(ef_pf.style.hide_index())

In [110]:
#4a Which country has made the biggest jump in the 
#Freedom Index over the years, when it comes to ranking?

freedom_index_rank= psql.read_sql("SELECT MAX(hf_rank) - MIN(hf_rank) AS rank_change, name FROM summary WHERE year ='2008' OR year = '2018' GROUP BY name ORDER BY rank_change DESC LIMIT 1", con)
display(freedom_index_rank.style.hide_index())

In [109]:
#4b Which country has made the biggest jump in the 
#Freedom Index over the years, when it comes to score?

freedom_index_score= psql.read_sql("SELECT MAX(hf_score) - MIN(hf_score) AS rank_change, name FROM summary WHERE year ='2008' OR year = '2018' GROUP BY name ORDER BY rank_change DESC LIMIT 1", con)
display(freedom_index_score.style.hide_index())

In [111]:
#5 For each year, which countries have high human freedom index scores on all three measures (hf_score, pf_score, ef_score?

freedom_index_score= psql.read_sql("select distinct on (year) name, year, hf_score, pf_score, ef_score from summary where hf_score is not null   and pf_score is not null   and ef_score is not null order by year, (hf_score, pf_score, ef_score) desc",con)
display(freedom_index_score.style.hide_index())

In [112]:
#5 For each year, which countries have high human freedom index scores on all three measures (hf_score, pf_score, ef_score?

freedom_index_score= psql.read_sql("select distinct on (year) name, year, hf_score, pf_score, ef_score from summary where hf_score is not null   and pf_score is not null   and ef_score is not null order by year, (hf_score, pf_score, ef_score) asc",con)
display(freedom_index_score.style.hide_index())